node_modules
dist
*.tsbuildinfo
playwright-report
test-results
.DS_Store
.local-browsers
storage/screenshots/*
storage/uploads/*
storage/videos/*
storage/state/*
!storage/screenshots/.gitkeep
!storage/uploads/.gitkeep
!storage/videos/.gitkeep
!storage/state/.gitkeep
